doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title login
    link(rel="stylesheet", href="login.css")
  
  body
    .main
      //- Log in page label and class
      .Login
        form
          label.Spacetext Spacetext
          label Log in
          input.login(name="email", placeholder="Email")
          input.password(name="password", placeholder="Password")
          button(type="submit") Log in

      //- Sign up class and label
      //- .signup
      //-   form
      //-     label Sign up
      //-     input(type="email", name="email", placeholder="Email", required="")
      //-     input(type="password", name="pswd", placeholder="Password", required="")
      //-     button Sign up

    script(src="/services/actions.js")