doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title login
    link(rel="stylesheet", href="login.css")
  
  body
    .main
      //- Log in page label and class
      .Login
        form
          label.Spacetext Spacetext
          label Log in
          input(type="text", name="txt", placeholder="User name", required="")
          input(type="email", name="email", placeholder="Email", required="")
          input(type="password", name="pswd", placeholder="Password", required="")
          button Log in

      //- Sign up class and label
      .signup
        form
          label Sign up
          input(type="text", name="txt", placeholder="User name", required="")
          input(type="email", name="email", placeholder="Email", required="")
          input(type="password", name="pswd", placeholder="Password", required="")
          button Sign up

      .space