body {
    margin: 0;
    /* background-color: #e2fadc; */
    background: linear-gradient(to top, #afb1ff, #d8daf7);
    background-attachment: fixed;
    font-family: sans-serif;
    align-items: center;
}

.phone-screen {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
    
}

.top-bar {
    text-align: center;
    padding: 10px 0;
    justify-content: center;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for separation */
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
}

.top-bar .icon {
    font-size: 2.5em;
    padding: 10px;
    border-radius: 100%;
    color: #666666; /* Default icon color */
    cursor: pointer;

}

.top-bar .user-icon {
    font-size: 2.5em;
    padding: 10px;
    border-radius: 100%;
    color: #666666; /* Default icon color */
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .user-icon {
        font-size: 1.5em;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute; /* Change position to absolute */
    top: calc(100% + 10px); /* Position it below the user icon */
    right: 0; /* Position from the right */
    background-color: #8cb0fd; /* Green background color */
    min-width: 190px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content a {
    color: black; /* Black text color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dcedc8; /* Light green hover color */
}

.show {
    display: block;
}

.bottom-bar {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for separation */
}

.bottom-bar .icon {
    font-size: 2.5em;
    padding: 10px;
    border-radius: 100%;
    color: #666666; /* Default icon color */
}

.bottom-bar .icon.active {
    color: white;
    background-color: #f0f0f0; /* Active icon background color */
    border: 1px solid #f0f0f0; /* Active icon border color */
}

.redeem-content .page-image {
    max-width: 200px; /* Adjust image size */
    height: auto;
}

.myvouchers-content .page-image {
    max-width: 200px; /* Adjust image size */
    height: auto;
}

/* Add a new class for the balance display */
.balance-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px; /* Adjust margin-top as needed */
}

.home-content {
    background-color: #8cb0fd;
    width: 450px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    height: 560px;
    margin-top: 85px;
    align-items: center;
}

.home-content .Spacetext {
    margin-top: 100px;
    margin-bottom: -5px;
    visibility: hidden;
}

.home-content .populartext {
    margin-left: 25px;
}

.home-content .recenttext {
    margin-left: 25px;
}

.home-content .neartext {
    margin-left: 25px;
}

.home-content .popularplaces {
    background-color: white;
    margin-left: 25px;
    width: 400px;
    height: 120px;
}

.home-content .recentplaces {
    background-color: white;
    margin-left: 25px;
    width: 400px;
    height: 120px;
}

.home-content .nearplaces {
    background-color: white;
    margin-left: 25px;
    width: 400px;
    height: 120px;
}

/* Center the image */
.home-content .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.wallet-content .qr-code {
    max-width: 150px; /* Adjust image size */
    height: auto;
    margin-top: 20px; /* Adjust margin-top as needed */
    display: block; /* Ensure it's a block-level element for centering */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

.wallet-content .wallet-image {
    max-width: 150px; /* Adjust image size */
    height: auto;
    margin-top: 100px; /* Adjust margin-top as needed */
    display: block; /* Ensure it's a block-level element for centering */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

.wallet-content .redeembutton {
    margin-top: 20px;
}

.wallet-content .myvouchersbutton {
    margin-top: 20px;
}

/* Center the image */
.wallet-content .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}


/* Center the balance text */
.balance-text {
    font-size: 1.5em; /* Adjust the font size as needed */
    text-align: center;
}

.description {
    text-align: center; /* Center the text */
    margin-top: 5px; /* Add some space between the image and the text */
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container .voucher5description {
    margin-top: 100px;
}

.image-container .voucher5, .image-container .voucher15, .image-container .voucher25 {
    max-width: 200px;
    height: auto;
}

.voucher5:hover, .voucher15:hover, .voucher25:hover {
    box-shadow: white 0px 0px 38px, white 0px 0px 38px;
    cursor: pointer;
}

.image-container .backbutton {
    margin-top: 20px;
}

.settings-content .Title {
    font-size: 2.5em;
    text-align: center;
    margin-top: 100px;
}

.settings-content .Language {
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
}

.settings-content .Languages {
    font-size: 2em;
    width: 150px;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: black;
    background: white;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .1s ease-in-out;
    cursor: pointer;

}

/* Center the image
.settings-content .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
} */

button {
    width: 150px;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: black;
    background: white;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .1s ease-in-out;
    cursor: pointer;
}

button:hover {
    background: #c7c7c7;
}