body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost' , sans-serif;
    background: linear-gradient(to top, #afb1ff, #d8daf7);
    background-attachment: fixed;
}

.main {
    width: 350px;
    height: 500px;
    /* background: #67a1f3; */
}

.spacer {
    height: 100px;
}

.signup {
    position: relative;
    width: 100%;
    height: 400px;
    background: #a0c3f5;
}

label {
    color: black;
    font-size: 1.3em;
    justify-content: center;
    display: flex;
    margin: 0px;
    font-weight: bold;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: black;
    background: white;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .1s ease-in-out;
    cursor: pointer;
}

button:hover {
    background: #c7c7c7;
}

.Login {
    height: 460px;
    background: #a0c3f5;
}

.Login .Spacetext {
    visibility: hidden;
}

.Login label {
    margin-top: 10px;
    color: black;
}
